@font-face {
  font-family: SF;
  src: url(./SF-UI-Display-Regular.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "SF", "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  background: url(./images/day.jpg);
  /* background: url(./images/original.png); */
  background-position: center;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h3 {
  font-weight: normal;
  padding-bottom: 15px;
  margin: 10px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.loginContainer .pic {
  height: 100px;
  width: 100px;
  background: url(./images/penguin.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 150%;
}

input {
  font-size: 14px;
  line-height: 200px;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #ffffff69;
  height: 30px;
  width: 160px;
  padding: 6px;
  box-sizing: border-box;
  background-color: rgba(127, 116, 101, 0.76);
  backdrop-filter: blur(.5rem);
  color: #ffffff69;
  font-weight: 900;
}

input::placeholder {
    color: #ffffff69;
  font-weight: 500;

}
/* top bar navigation style */
nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 3px;
    font-size: 16px;
}
nav .wifi{
  transform: translateY(-2px);
}

.batteryContainer img{
    height: auto;
    width: 25px;
    margin-left: 5px;
}



.cancel{
  position: absolute;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cancel .button{
  width: 40px;
  height: 40px;
  background: rgb(82, 82, 82);
  border-radius: 150%;
}

.cancel img{
  transform: scale(.8);
}

.cancel span{
  font-size: 14px;
  padding: 4px;
}